/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

/* Body Styles */
body{
    align-items: center;
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    margin: 0;
}

