/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

/* Body Styles */
body{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    margin: 0;
}

/* Header Styles */
h1 {
    color: hsl(0, 0%, 0% );
    font-size: 4rem;
}

/* Option Section Styles */
.options {
    margin-bottom: 30px;
}

/* Button Styles */
.options button {
    background-color: hsl(120, 100%, 50%);
    border-radius: none;
    cursor: pointer;
    margin: 0 15px;
    padding: 0;
}

.options button img {
    width: 150px;
    height: 150px; 
}

.options button:hover {
    filter: brightness(1.4);
}

/* Display Styles Section */
#userDisplay, #computerDisplay {
    font-size: 2rem;
}

/* Result Display Styles Section */
#resultDisplay {
    font-size: 3.5rem;
    margin: 20px 0;
}

/* Score Display Styles Section */
.scoreDisplay {
    font-size: 2rem;
}

/* Score Color Styles Section */
#UserScoreDisplay, .yellowText {
    color: hsl(50, 80%, 60%);
}

#computerScoreDisplay, .blackText {
    color: hsl(0, 0%, 0%);
}

/* Styles for tthe footer */
footer {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: auto;
    text-align: center;
}